.FoodItem {
    text-align: center;
    background-color: #f1efef;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    width: 70%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
}


.foodInputStack{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodSummary{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    width: 70%;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #e10b0b;
}

.menuImage{
    width: 60%;
    }


.foodSummary>.Name{
    flex: 1;
    font-size: 80%;
 }
.foodSummary>.Description{
    flex: 1;
    font-size: 40%;

}
.foodSummary>.Price{
    flex: 1;
    font-size: 40%;
}

.foodInputField{
    flex: .5;
    width: 50px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 60%;
    margin-right: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}