.Header {
    text-align: center;
    background: #8d060a;
    display: flex;
    align-items: center;
    font-size: calc(10px);
}

.Header>.Left{
    flex: 1;
    font-size: 250%;
}
.Header>.Right{
    flex: 1;
    text-align: end;
    margin-right: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 150%;
}
.shoppingImage {
    height: 50px;
}