.Header {
    text-align: center;
    background: #eaeaea;
    display: flex;
    align-items: center;
    font-size: calc(10px);
    max-height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.Header>.Left{
    flex: 1;
    font-size: 250%;
    font-weight: 600;
}
.Header>.Right{
    flex: 1;
    text-align: end;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    font-size: 150%;
}
.shoppingImage {
    height: 30px;
}